<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.buxiaohui.bxhapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MainApplication"
            android:configChanges="orientation|screenSize"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".DispenseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".histogram.TimePickerActivity"></activity>
        <activity android:name=".anim.AnimActivity"></activity>
        <activity android:name=".TestOpenApiActivity"></activity>
        <activity android:name=".TestOpenApiUrlItemsActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".TestLightNaviXmlActivity"></activity>

        <activity android:name=".flutter.FlutterTestAddViewActivity"></activity>
        <activity android:name=".flutter.FlutterFirstActivity"></activity>
        <activity android:name=".flutter.FlutterSecondActivity"></activity>
        <activity android:name=".flutter.Flutter2NaActivity"></activity>
        <activity android:name=".histogram.HistogramActivity"></activity>
    </application>

</manifest>